<html lang="en">
    <%- include('./Partials/head.ejs') %>
<body>
    <!-- Header -->
    <header>
        <div class="logo">📝 <a class="header-title" href="/">Yadud's To-Do</a></div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/myTasks">My Tasks</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/about">About</a></li>
                <li><a class="profile">👤 Profile</a></li>
            </ul>
        </nav>
    </header>

    <!-- Edit Task Section -->
    <div class="add-task-container">
        <h1>Edit Task</h1>

        <form id="add-task-form" action="/" method="POST">
            <label for="task-title">Task Title:</label>
            <input type="text" id="task-title" name="title" value="<%= task.title %>" required>
        
            <label for="task-description">Description:<%= task.description %></label>
            <textarea id="task-description" name="description" required><%= task.description %></textarea>
        
            <label for="task-date">Due Date:</label>
            <input type="date" id="task-date" name="dueDate" value="<%= task.dueDate.toISOString().split('T')[0] %>" required>
        
            <label for="task-priority">Priority:</label>
            <select id="task-priority" name="priority" required>
                <option value="" default>Select Priority</option>
                <option value="Low <%= task.priority === 'Low' ? 'selected' : '' %>">Low</option>
                <option value="High <%= task.priority === 'High' ? 'selected' : '' %>">High</option>
            </select>
        
            <button class="submit-task-btn" type="submit">Edit Task</button>
        </form>        
    </div>

    <%- include('./Partials/footer.ejs') %> 
</body>
</html>
